.post-last-updated {
  text-align: right;
  @include below($ipad) {
    display: none;
  }
  span {
    display: block;
    &:first-child {
      font: 400 16px/24px $font-family-base;
      letter-spacing: 0.19px;
    }
    &:last-child {
      font: 300 16px/24px $font-family-base;
      letter-spacing: 0.19px;
      color: #686e9a;
    }
  }
}
