.website-notice {
  background: #f5f6fb;
  padding: 15px;
  color: #686e9a;
  font-size: 14px;
  width: 100%;
  text-align: center;
  position: relative;
  margin-bottom: 5px;
  .notice-close {
    position: absolute;
    right: 15px;
    top: 15px;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
  a {
    color: #686e9a;
    text-decoration: underline !important;
  }
}
